{% extends ":home:base.html.twig" %}

{% block style %}
    <link rel="stylesheet" href="{{ asset('css/home_form_page.css') }}"/>
{% endblock style %}


{% block body %}
    <div role="main" id="main" class="containerMobileFullWidth">

        <section class="row-fluid organized">
            <div class="containerCentered">
                <div class="span12">

                    <div id="content" class="contentContainer" style="width: 60%; margin-top: 0px">
                        <h2 class="large">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h2>
                    {% if error %}
                        <div id="notifications" class="notifications" tabindex="-1">
                            <p class="notification notification-critical" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                        </div>
                    {% endif %}
                    <form action="{{ path("fos_user_security_check") }}" method="post">
                        <div id="passwordSection" class="clearfix">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="textInput">
                                <div class="fieldWrapper">
                                    <label for="username" class="fieldLabel">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                                    <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}" required="required" />
                                </div>
                            </div>
                            <div class="textInput lastInputField">
                                <div class="fieldWrapper">
                                    <label for="password" class="fieldLabel">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                                    <input type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}" required="required" />
                                </div>
                            </div>
                        </div>
                        <div class="actions actionsSpaced">
                            <button class="button actionContinue" type="submit" id="btnLogin" name="btnLogin" value="Login">
                                {{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}
                            </button>
                        </div>
                        <div class="forgotLink">
                            <a href="{{ path('fos_user_resetting_request') }}">{{ 'home.login.forgot_password'|trans }}</a>
                        </div>
                    </form>
                    <a href="{{ path('fos_user_registration_register') }}" class="button secondary" style="margin-left: 2%">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </div>
                </div>
            </div>
        </section>
    </div>
{% endblock body %}