{% extends ":office:base.html.twig" %}

{% block body %}
<div id="p-main" class="p-main">
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include ':office:alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include ':office:alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    <span id="newTxAndNews">
        <div class="p-main-topbuttons">
            <div class="p-main-topbuttons-tabs" style="width: 100%">
                <ul>
                    <li id="buy" class="active tabs" style="width: 50%">
                        <span>
                            <a href="javascript: void(0)">{{ 'office.settings.profile'|trans }}</a>
                        </span>
                    </li>
                    <li id="sell" class="tabs" style="width: 50%">
                        <span>
                            <a href="{{ path('fos_user_change_password') }}">{{ 'office.settings.change_password'|trans }}</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="cb"></div><br>
        </div>
    </span>
    <div style="width: 350px; margin: 0 auto">
        <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
        <div class="p-profile">
            <div class="p-new">
                <dl>
                    <dt>
                        {{ form_label(form.username) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.username, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.username) %}{{ form_errors(form.username) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.name) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.name, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.name) %}{{ form_errors(form.name) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.surname) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.surname, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.surname) %}{{ form_errors(form.surname) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.email) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.email, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.email) %}{{ form_errors(form.email) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.country) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.country, {'attr': {'style': 'width: 285px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.country) %}{{ form_errors(form.country) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.city) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.city, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.city) %}{{ form_errors(form.city) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.phone) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.phone, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.phone) %}{{ form_errors(form.phone) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.zipCode) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.zipCode, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.zipCode) %}{{ form_errors(form.zipCode) }}{% endif %}
                        </div>
                    </dd>
                </dl>
                <dl>
                    <dt>
                        {{ form_label(form.current_password) }}
                    </dt>
                    <dd>
                        {{ form_widget(form.current_password, {'attr': {'style': 'width: 273px'}}) }}
                        <div class="form-error">
                            {% if form_errors(form.current_password) %}{{ form_errors(form.current_password) }}{% endif %}
                        </div>
                    </dd>
                </dl>

                {{ form_rest(form) }}
                <ul class="p-inside-transactions-buttons" style="padding-right: 35px">
                    <li class="next button green">
                        <input value="{{ 'save'|trans }}" type="submit" style="width: 100px">
                    </li>
                </ul>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock body %}
