{% extends ":office:base.html.twig" %}

{% block body %}
<div id="p-main" class="p-main">
    {% for flashMessage in app.session.flashbag.get('success') %}
        {% include ':office:alert_success.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        {% include ':office:alert_error.html.twig' with {'message' : flashMessage} %}
    {% endfor %}
    <span id="newTxAndNews">
        <div class="p-main-topbuttons">
            <div class="p-main-topbuttons-tabs" style="width: 100%">
                <ul>
                    <li id="buy" class="tabs" style="width: 50%">
                        <span>
                            <a href="{{ path('fos_user_profile_edit') }}">{{ 'office.settings.profile'|trans }}</a>
                        </span>
                    </li>
                    <li id="sell" class="active tabs" style="width: 50%">
                        <span>
                            <a href="javascript: void(0)">{{ 'office.settings.change_password'|trans }}</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="cb"></div><br>
        </div>
    </span>
    <div style="width: 350px; margin: 0 auto">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST">
            <div class="p-profile">
                <div class="p-new">
                    <dl>
                        <dt>
                            {{ form_label(form.current_password) }}
                        </dt>
                        <dd>
                            {{ form_widget(form.current_password, {'attr': {'style': 'width: 273px'}}) }}
                            <div class="form-error">
                                {% if form_errors(form.current_password) %}{{ form_errors(form.current_password) }}{% endif %}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(form.plainPassword.first) }}
                        </dt>
                        <dd>
                            {{ form_widget(form.plainPassword.first, {'attr': {'style': 'width: 273px'}}) }}
                            <div class="form-error">
                                {% if form_errors(form.plainPassword.first) %}{{ form_errors(form.plainPassword.first) }}{% endif %}
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>
                            {{ form_label(form.plainPassword.second) }}
                        </dt>
                        <dd>
                            {{ form_widget(form.plainPassword.second, {'attr': {'style': 'width: 273px'}}) }}
                            <div class="form-error">
                                {% if form_errors(form.plainPassword.second) %}{{ form_errors(form.plainPassword.second) }}{% endif %}
                            </div>
                        </dd>
                    </dl>
                    {{ form_rest(form) }}
                    <ul class="p-inside-transactions-buttons" style="padding-right: 35px">
                        <li class="next button green">
                            <input value="{{ 'save'|trans }}" type="submit" style="width: 100px">
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}
