{%- block choice_widget_expanded -%}
    <div {{ block('widget_container_attributes') }}>
        {%- for child in form %}
            {{- form_widget(child) -}}
            {#{{- form_label(child, null, {translation_domain: choice_translation_domain}) -}}#}
        {% endfor -%}
    </div>
    <div style="clear: both"></div>
{%- endblock choice_widget_expanded -%}

{%- block radio_widget -%}
    {% if not compound -%}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {% if required -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif -%}
    <div style="width: 158px; float: left; text-align: center">
        <div>
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} style="cursor: pointer">
            {% if label == 'BTC' %}
                <img src="{{ asset('images/btc.png') }}" width="96" title="{{ label }}">
                <span style="position: absolute; margin-left: -63px; font-size: 14px; margin-top: 67px">{{ 'BTC'|buyRate }}$</span>
            {% elseif label == '' %}
                <img src="{{ asset('images/g') }}" width="96" title="{{ label }}">
                <span style="position: absolute; margin-left: -63px; font-size: 14px; margin-top: 67px">{{ ' }}$</span>
            {% endif %}
            </label>
        </div>
        <div>
            <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        </div>
    </div>
{%- endblock radio_widget -%}